.container_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container_button {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 250px;
    height: 15px;
    padding-bottom: 1rem;
}
.bouton {
    margin: 0.5rem;
}
.container_list_etablissement {
    margin-top: 14rem;
    padding-bottom: 6rem;
}